@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Cute+Font&family=Iceland&family=Revalia&family=Rubik+Glitch&family=Syne+Mono&display=swap");

/* COLOR SCHEME */

:root {
  --bg-color: #008000;
  --shadow-color: rgba(0, 126, 126, 0.7);
  --shadow: 2px 2px 4px var(--shadow-color), -2px 2px 4px var(--shadow-color),
    -2px -2px 4px var(--shadow-color), 2px -2px 4px var(--shadow-color);
}

/* FONTS */

/* .rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cute-font-regular {
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.revalia-regular {
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* MOBILE: width < 500px */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(8, 37, 25);
}

main.container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  display: grid;
  grid-template-columns: auto minmax(min-content, 90%) auto;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 10px;
  justify-content: stretch;
  justify-items: stretch;
  align-content: stretch;
  align-items: center;
}

.profile-card {
  /* position in parent grid */
  grid-column: 2 / -2;
  grid-row: 2 / -2;

  /* define child flex */
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: stretch;

  border-radius: 12px;
  padding: 10px;
  background: linear-gradient(205deg, rgba(0, 0, 0, 0), rgba(6, 49, 16, 0.6)),
    url("../images/3920-green.svg") repeat center/500px;
  background-blend-mode: multiply, normal;
  background-color: #008000;
  box-shadow: 6px 6px 4px #aaa;
}

.profile-card * {
  border-radius: 8px;
}

source {
  border: 0 !important;
}

.profile-card > section {
  padding: 10px;
  background: rgba(0, 221, 255, 0.4);
  backdrop-filter: blur(1.5px);
  box-shadow: 3px 3px 2px var(--shadow-color);
}

.profile-picture {
  align-self: center;
}

.profile-picture img {
  border-radius: 50%;
}

.profile-details {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  justify-content: space-around;
}

.profile-details > * {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 3px;
  text-align: center;

  padding: 10px;
}

.profile-details > div {
  box-shadow: 2px 2px 1px var(--shadow-color);
}

.name {
  background: rgba(255, 255, 186, 0.8);
}

.name h2 {
  font-family: "Syne Mono", monospace;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}

.job-title {
  font-family: "Revalia", sans-serif;
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 6px;
}

.contact {
  background: rgba(255, 255, 139, 0.8);
  padding: 3px;
}

.contact address {
  font-style: normal;
}

.company {
  background: rgba(255, 255, 101, 0.8);
  justify-content: center;
  gap: 8px;
}

.company h3 {
  font-family: "Revalia", sans-serif;
  font-size: 1.2em;
  font-weight: normal;

}

.company .slogan {
  font-style: italic;
  line-height: 1.1em;
}

.image-credits {
  /* display: none; */
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  justify-self: center;
  align-self: end;
  margin: 8px;

  font-size: 0.7em;
  color: #aaa;
}

.image-credits li p {
  margin-left: 1.5em;
}

/* LARGE MOBILE/TABLET: width >= 500px -----------------------*/
@media screen and (min-width: 500px) {
  main.container {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .profile-details {
    display: grid;
    grid:
      "name company" 1fr
      "contact company" auto
      / 1fr minmax(45%, max-content);
    gap: 8px;
  }

  .name {
    grid-area: name;
  }

  .contact {
    grid-area: contact;
  }

  .company {
    grid-area: company;
    gap: 16px;
  }
}

/* LARGE TABLET/DESKTOP: width >= 768px ----------------------*/
@media screen and (min-width: 768px) {
  main.container {
    grid-template-columns: auto minmax(min-content, 90ch) auto;
  }

  .profile-card {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .profile-details {
    flex: 1 1 50%;

    display: flex;
    justify-content: initial;
    align-items: stretch;
  }

  .name,
  .contact {
    flex: 1 2 25%;
  }

  .company {
    flex: 1 1 40%;
    gap: 8px;
  }

  .company .slogan {
    padding: 0;
  }
}
